<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns:epub="http://www.idpf.org/2007/ops" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body data-type="book">
  <section data-type="content" epub:type="index" data-pdf-bookmark="{{ title }}">
    <div class="content" id="{{ id }}_index">
      <ul data-type="chapter">
        {{#each list}}
          <li data-type="sect1"><a href="#chapter{{ cnum }}">{{ title }}</a></li>
        {{/each}}
		  </ol>
    </div>
  </section>
  <section data-type="content" data-pdf-bookmark="{{ title }}">
    <div class="content" id="{{ id }}">
      {{#each list}}
        <h2 data-type="chapter" id="chapter{{ cnum }}">{{ title }}</h2>
        <ol data-type="verse">
          {{#each verses}}
            <li>{{ content }}</li>
          {{/each}}
        </ol>
      {{/each}}
    </div>
  </section>
</body>

</html>